/* Allgemein */

a {
  color: black;
  text-decoration: none;
}

/*HEADER*/

div#image_bg{
  padding: 0%;
  margin: 0%;
  background-image: url("./tier_infos/Panda.jpg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
}

.menu_strich {
  height: 40px;
  width: auto;
}

.menu_strich:hover {
  rotate: 90deg;
}

.header_top {
  display: flex;
  border-bottom: 2px solid black;
  padding: 10px;
}

.header_inhalt {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
}

.anmelden_text {
  color: white;
}

.anmelden_text:hover {
  color: black;
}

/*Menü Logo*/

#menu_logo {
  text-align: left;
}

#btn_anmelden {
  text-align: right;
}

/*Logo*/

#logo {
  padding: 0;
}

#logo_inhalt {
  height: 150px;
}

/*Anmelden*/

.anmelden {
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 10px;
  font-size: 14pt;
}

.anmelden:hover {
  background-color: white;
  color: black;
}

/*FOOTER*/

.footer {
  width: 100%;
  border-top: 2px solid black;
  justify-content: center;
  display: flex;
}

.footer_inhalt {
  width: 20%;
  padding: 50px;
}

/*TextBox*/

.text_box {
  padding: 10px;
  margin: 20px;
  border-radius: 30px;
  background-color: #9be9ffb7;
  max-width: 400px;
}

/*Datenschutz*/
#datenschutz{
  background-color: #ffffff;
  text-align: left;
  margin-left: 10px;
}

/*Sidebar*/

/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 50px;
  height: 45px;
  left: 36px;
  top: 0px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #000000;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  left: 0;
  top: 0;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  top: 0;
  left: 0;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #ffffff;
}

/* Karte */

#karte{
  display: flex;
  justify-content: center;
  
}