.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

/*HEADER*/

div#image_bg{
  padding: 0%;
  margin: 0%;
  background-image: url("./tier_infos/Panda.jpg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
}

.menu_strich {
  height: 40px;
  width: auto;
}

.menu_strich:hover {
  rotate: 90deg;
}

.header_top {
  display: flex;
  border-bottom: 2px solid black;
  padding: 10px;
}

.header_top::after {
  content: "";
  clear: both;
  display: table;
}

.header_inhalt {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
}

/*Menü Logo*/

#menu_logo {
  text-align: left;
}

#btn_anmelden {
  text-align: right;
}

/*Logo*/

#logo {
  padding: 0;
}

#logo_inhalt {
  height: 150px;
}

/*Anmelden*/

.anmelden {
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 10px;
  font-size: 14pt;
}

.anmelden:hover {
  background-color: white;
  color: black;
}

/*FOOTER*/

.footer {
  position: absolute;
  width: 100%;
  border-top: 2px solid black;
  top: 100%;
}

/*TextBox*/

.text_box {
  color: yellow;
}