.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

/*HEADER*/

div#image_bg{
  padding: 0%;
  margin: 0%;
  background-image: url("./tier_infos/Panda.jpg");
  background-repeat: no-repeat;
  background-position-y: center;
  background-size: cover;
}

.menu_strich {
  height: 40px;
  width: auto;
}

.menu_strich:hover {
  rotate: 90deg;
}

.header_top {
  display: flex;
  border-bottom: 2px solid black;
  padding: 10px;
}

.header_top::after {
  content: "";
  clear: both;
  display: table;
}

.header_inhalt {
  float: left;
  width: 33.33%;
  padding: 50px;
  text-align: center;
}

/*Menü Logo*/

#menu_logo {
  text-align: left;
}

#btn_anmelden {
  text-align: right;
}

/*Menü Slider*/

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align:center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/*Logo*/

#logo {
  padding: 0;
}

#logo_inhalt {
  height: 150px;
}

/*Anmelden*/

.anmelden {
  background-color: black;
  color: white;
  border: 2px solid black;
  padding: 10px;
  font-size: 14pt;
}

.anmelden:hover {
  background-color: white;
  color: black;
}

/*FOOTER*/

.footer {
  position: absolute;
  width: 100%;
  border-top: 2px solid black;
  top: 100%;
}

/*TextBox*/

.text_box {
  padding: 10px;
  margin: 20px;
  border-radius: 30px;
  background-color: #9be9ffb7;
  max-width: 400px;
}

/*Datenschutz*/
#datenschutz{
  background-color: #ffffff;
  text-align: left;
  margin-left: 10px;
}